table {
  margin: 10% auto;
  /* border-collapse: collapse; */
  /* border: 4px #000; */
}

tr {
  color: rgba(0, 0, 0, 0.863);
  
}

th{
  font-size:20px;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  padding: 0.2em 0.01em;
  height: 25px;
  background-color: #ffffff;
  color: #000;
  border-radius: 2px;
}

td {
  font-size: large;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  padding: 0.4em 1em;
  height: 25px;
  background-color: #fefeff34;

}

.btnuser1, .btnuser2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  width: 55px;
  height: 25px;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btnuser1 {
  color: rgba(0, 255, 21, 0.568);
  margin-right: 10px;
}

.btnuser2 {
  color: rgba(255, 0, 0, 0.637);
}

.btnuser1:hover, .btnuser2:hover {
  color: #000;
  opacity: 1.0;
}