* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --preto: #000000;
  --branco: #ffffff;
  --corPrima: #DFDFDF ;
  --corSeg: #2a2828;
  --corTer: #f2f3f4;
  --teste: aqua;
}

body {
  font-family:Arial, Helvetica, sans-serif;
  /* background: linear-gradient(45deg, #dfdfdf 0%, #a8a8a8 50%, #7a7a7a 100%); */

}

header {
 background-color: #eceaea36;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
}

nav {
 width: 100%;
 display: flex;
 align-items: center;
 padding: 0 50px;
  gap: 30px;
}

nav a:first-child{
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: var(--preto);
}

.container {
  display: flex;
  justify-content: center;
  background-color: rgba(183, 184, 187, 0.57);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(3, 3, 3, 0.082);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 60px);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
}

.btn {
  color: #ffffff;
  padding: 4px 10px;
  border-radius: 2px;
  background-color: #000000;
  transition: all 0.2s ease;
  cursor: pointer;
  border: none;
}

input.conteudo {
  background-color: transparent;
  border: 1px solid var(--preto);
  border-radius: 2px;
  color: var(--branco);
  padding: 8px;
}

input.conteudo::placeholder {
  color: var(--preto);
}

input.conteudo:hover {
  color: var(--branco);
  border: 1px solid var(--branco);
  transition: border-color 0.3s ease, color 0.3s ease;
}













footer{
  background-color: #eceaea36 ;
  color:var(--preto);
  padding: 0px 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .pe {
  margin-top: 10px;
  margin-right: 110px;
}