* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --preto: #000000;
  --branco: #ffffff;
  --corPrima: #DFDFDF;
  --corSeg: #2a2828;
  --corTer: #f2f3f4;
  --teste: aqua;
  --fundo:linear-gradient(45deg, #dfdfdf 0%, #a8a8a8 50%, #7a7a7a 100%);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--fundo);
  background-attachment: fixed;

}

header {
  background-color: #eceaea36;
  width: 100%;
  height: 70px;
  display: flex;
  /* align-items: center; */
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 50px;
  gap: 30px;
  color: #ffffff;
}

nav a:first-child {
  width: 300px;
}

nav a:nth-child(2) {
  margin-left: auto;
}

.esqueci {
  text-decoration: underline;
  color: var(--preto);
  font-size: small;
}

.suporte {
  cursor: help;
}

a {
  display: flex;
  text-decoration: none;
  color: var(--preto);
}

.container {
  display: flex;
  justify-content: center;
  font-size: large;
  background-color: rgba(255, 255, 255, 0.397);
  padding: 45px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(3, 3, 3, 0.082);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 60px);
  margin: auto;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
}

.btn {
  color: var(--branco);
  padding: 4px 10px;
  border-radius: 2.5px;
  background-color: var(--preto);
  transition: all 0.4s ease;
  cursor: pointer;
  border: none;
  font-size: 14px;
  
}

input.conteudo {
  margin-top: 10px;
  padding: 0 5px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #a1a1a1;
  outline: none;
  font-size: medium;
  
}

input.btn{
  display: flex;
  justify-content: center;
  width: 48%;
  margin-left: 59px;
}

/* 
input.conteudo::placeholder {
  color: var(--preto);
}

input.conteudo:hover {
  color: var(--branco);
  border: 1px solid var(--branco);
  transition: border-color 0.3s ease, color 0.3s ease;
} */















footer {
  background-color: #eceaea36;
  color: var(--preto);
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
}

footer .pe {
  margin-top: 10px;
  margin-right: 110px;
}