:root{
    background-image: url(../img/fundo_semlogo.png);
}


table{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    border: none;
}


td{
    height: 25px;
    background-color: rgba(254, 254, 255, 0.205);
    border-radius: 2px;
}

tr{
    color:rgba(255, 255, 255, 0.863);
}

.btnuser1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 255, 21, 0.568);
    background-color: transparent;
    border: none;
    width: 55px;
    height: 25px;
    border-radius: 2px;
    cursor: pointer;
}

.btnuser2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 0, 0, 0.637);
    background-color: transparent;
    border: none;
    width: 55px;
    height: 25px;
    border-radius: 2px;
    cursor: pointer;
}