table{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    border: none;
}


td{
    border: rgb(145, 255, 0);
    background-color: rgba(254, 254, 255, 0.205);
    
}

tr{
    color:white;
}

.btnuser1{
    color: white;
    background-color: #00ff0062;
    border: none;
    width: 55px;
}

.btnuser2{
    color: white;
    background-color: #ff080056;
    border: none;
    width: 55px;
}